body {
    padding-top: 130px;
    font-family: 'Poppins', sans-serif;
}


/* --------------- Navigation -------------- */

.container-fluid {
    padding: 0 5%;
    margin: -20px 0px;
}

.navbar-nav {
    margin-left: auto;
}

li.nav-item {
    padding: 0 10px;
}

.brand-logo {
    width: 160px;
}

/* customise bootstrap nav */
.navbar 
.nav-item 
.dropdown-menu { 
    display: none; 
}

.navbar 
.nav-item:hover 
.dropdown-menu { 
    display: block; 
}

.navbar 
.nav-item 
.dropdown-menu {
    margin-top:0; 
    left: 0; 
}

.dropdown-menu {
    border: none;
}

/* --------------- footer */

.footer-menu a{
    font-size: small;
}

.footer-menu a,
.nav-item a,
.nav-item li a,
.shopping-cart,
.dropdown-item {
    color: black;
    text-transform: uppercase;
}

.home-icon:hover,
.footer-menu a:hover,
.mobile-menu:hover,
.nav-item a:hover,
.shopping-cart:hover{
    color: #F99F38;
    transition: ease-in-out all .3s; 
}

.shopping-cart-total {
    font-weight: 500;
    font-family: 'Poppins';
}

.nav-item li a:hover {
    color: #F99F38;
    background-color: white;
}

#delivery-banner {
    background-color: #F99F38;
}

.search-bar {
    width: 0%;
    display: none;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.d-lg-flex {
    width: 100%;
}

.d-lg-flex {
    display: flex!important;
    justify-content: flex-end;
}

.dropdown-menu.show {
    left: 0;
}


/* button */

.btn {
    background-color: white;
    color: #F99F38;
    border-color: #F99F38;
    border-radius: 33px;
}

.btn:hover {
    background-color: #F99F38;
    color: white;
    border-color: #F99F38;

}

.bg-primary {
    background-color: #F99F38 !important;
    margin-left: 20px;
}

.category-badge {
    border-radius: 33px;
    background-color: white;
    color: #F99F38;
    border: 1px solid #F99F38;
    padding: 5px 12px;
    margin-top: 0.5rem!important;

}
.category-badge:hover{
    background-color: #F99F38;
    color: white;
    transition: ease-in-out all .3s; 
}

.text-black {
    color: black;
    text-decoration: none;
}

.text-right {
    text-align: right;
    float: right;
}

.update-link {
    float: right;
    text-decoration: none;
    cursor: pointer;

}

.remove-item {
    float: left;
    text-decoration: none;
    cursor: pointer;
    
}

.message-container {
    position: fixed;
    top: 82px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}


.bag-notification {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------- hero image */

.hero-image {
    position: relative;
    margin-top: -80px;
   
}

.hero-image img {
    height: auto;
    margin-top: 0px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* opacity for image not text */
.hero-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-button {
    width: inherit;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
}

.hero-text {
    width: 90%;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.shop-all {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Add shadow hover on any product */
.product {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.product:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btn-outline-danger {
    background-color: white;
    color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.increment-qty, 
.decrement-qty {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

/* Allauth form formatting */
/* add margint to fields */
.allauth-form-inner-content input {
    margin: 12px 0;
}

/* hide all label in the form but remember me */
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* add margin to remember me */
.allauth-form-inner-content label {
    margin-top: 8px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 6px;

}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------------FAQS */

.faqs:hover {
    color: #F99F38;
}

/* ------------------------ Product Image size */
.product-image {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

/* ------------------------ Carosel/ Review/ comment section */

.carousel-width {
    /* margin: 0 100px 0 100px; */
    max-width: 500px;
    margin: auto;
}
.comment-body {
    max-height: 200px;
}

/* -------------------------Subscribe form */

#mc_embed_signup .button .foot{
    /* border: 1px solid #ABB0B2; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 33px;
    padding: 40px;
}


/* ------------------------ Media Queries */


@media (min-width: 768px) {

    .table-now {
        margin-left: 0;
        margin-right: 0;
    }

    .free-delivery-alert {
        text-align: right;
    }
}

.home-icon {
    display: none;
    color: black;
}

@media (max-width: 576px) {
    .home-icon {
        display: flex;
    }
}

/* @media (max-width: 400px) {
    .hero-text {
        bottom: 3%;
    }
} */



.quantity-form {
    width: 60%;
}


