<div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Women
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tops & T-shirt</a></li>
                <li><a class="dropdown-item" href="#">Jeans</a></li>
                <li><a class="dropdown-item" href="#">Trouser</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Men
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tops & T-shirt</a></li>
                <li><a class="dropdown-item" href="#">Jeans</a></li>
                <li><a class="dropdown-item" href="#">Trouser</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Boys
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tops & T-shirt</a></li>
                <li><a class="dropdown-item" href="#">Jeans</a></li>
                <li><a class="dropdown-item" href="#">Trouser</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Girls
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tops & T-shirt</a></li>
                <li><a class="dropdown-item" href="#">Jeans</a></li>
                <li><a class="dropdown-item" href="#">Trouser</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Account
            </a>
            
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li><a class="dropdown-item" href="#">Stock Management</a></li>
                {% endif%}
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
                </ul>
            {% else %}
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
            <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
        </ul>
        {% endif %}

        </li>
        <li class="nav-item list-inline-item">
            <a class="{% if grand_total %}text-info font-weighht-bold {% else %}text-black {% endif %} nav-link"
                href="#">
                <div class="shopping-cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="my-0">
                        {% if grand_total %}
                        $({ grand_total | floatformat:2 })
                        {% else %}
                        $ 0.00
                        {% endif %}
                    </span>
                </div>
            </a>
        </li>
    </ul>
    <form class="d-flex" role="search" method="GET" action="">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>