<div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Furniture
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Dining Tables</a></li>
                <li><a class="dropdown-item" href="#">Couch</a></li>
                <li><a class="dropdown-item" href="#">Bed</a></li>
                <li><a class="dropdown-item" href="#">All Furniture</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Nursery
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Toy Storage</a></li>
                <li><a class="dropdown-item" href="#">Children Wardrobe</a></li>
                <li><a class="dropdown-item" href="#">Cots</a></li>
                <li><a class="dropdown-item" href="#">All Nursery</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Beds
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Beds</a></li>
                <li><a class="dropdown-item" href="#">Mattresses</a></li>
                <li><a class="dropdown-item" href="#">Headboards</a></li>
                <li><a class="dropdown-item" href="#">All Bed & Mattress</a></li>

            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Kitchens
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"> Cabinets</a></li>
                <li><a class="dropdown-item" href="#">Appliances</a></li>
                <li><a class="dropdown-item" href="#">Taps and Sinks</a></li>
                <li><a class="dropdown-item" href="#">All Kitchen Products</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Account
            </a>
            
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li><a class="dropdown-item" href="#">Stock Management</a></li>
                {% endif%}
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
                </ul>
            {% else %}
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
                </ul>
            {% endif %}

        </li>
        <li class="nav-item list-inline-item">
            <a class="{% if grand_total %}text-info font-weighht-bold {% else %}text-black {% endif %} nav-link"
                href="#">
                <div class="shopping-cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="my-0">
                        {% if grand_total %}
                        $({ grand_total | floatformat:2 })
                        {% else %}
                        $ 0.00
                        {% endif %}
                    </span>
                </div>
            </a>
        </li>
    </ul>
    <form class="d-flex" role="search" method="GET" action="{% url 'products' %}">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>