<!-- Modal -->
<div class="modal fade" id="{{ item.slug }}_laptop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Remove from basket</h5>
                <button type="button" class=" btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove {{ item.product.name }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="remove-item btn btn-outline-danger" id="remove_{{ item.slug }}"
                    data-product-size="{{ item.size }}">Delete</button>
            </div>
        </div>
    </div>
</div>