{% for item in bag_items %}
    <!-- bag items. Displayed on small screens only. -->
    <div class="row d-lg-none">
        <div class="col-12 col-sm-6">
            {% if item.product.image %}
                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            {% else %}
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
            {% endif %}
            
        </div>
        <div class="col-12 col-sm-6 my-auto">
            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
            <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
            <p>
                {% if item.product.discount_price %}
                    <strike class="text-danger">
                        €{{ item.product.price }}
                    </strike>
                €{{ item.product.discount_price }}

                {% else %}
                    €{{ item.product.price }}
                    
                {% endif %}
            </p>
            
        </div>
        <div class="col-12 col-sm-6">
            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.slug %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group my-3">
                        <div class="input-group-prepend me-1">
                            <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                data-item_id="{{ item.slug }}" id="decrement-qty_{{ item.slug }}">
                                <span>
                                    <i class="fas fa-minus fa-sm"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control form-control-sm qty_input w-50" type="number" 
                            name="quantity" value="{{ item.quantity }}" min="1" max="100" 
                            data-item_id="{{ item.slug }}" id="id_qty_{{ item.slug }}">
                        <div class="input-group-append ms-1">
                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                data-item_id="{{ item.slug }}" id="increment-qty_{{ item.slug }}">
                                <span>
                                    <i class="fas fa-plus fa-sm"></i>
                                </span>
                            </button>
                        </div>
                        {% if item.product.has_sizes %}
                            <input type="hidden" name="product_size" value="{{ item.size }}">
                        {% endif %}
                    </div>
                </div>
            </form>
            <a class="update-link btn mb-3"><small>Update</small></a>
            <a type="button" class="remove-item btn btn-outline-danger mb-3" data-toggle="modal" data-target="#{{ item.slug }}">
                <small>Delete</small>
            </a>
            <!-- Modal to confirmation to remove from basket -->
            {% include 'bag/includes/remove_from_bag.html' %}
        </div>
    </div>
{% endfor %}