
{% extends "base.html" %}
{% load static %}
<h3>bara</h3>


{% block content %}

<!-- <div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn" value="submit"> Submit</button>
    </form>
</div> -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <h2>Address</h2>
            </div>
            <div class="row">
                map
            </div>
        </div>
        <div class="col">
            <h2>Get in Touch</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn my-3" value="submit"> Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}