{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                {% if product.discount_price %}
                    <strike>
                        <p class="mt-3">€{{ product.price }}</p>
                    </strike>
                    <p class="mt-3">€{{ product.discount_price }}</p>

                {% else %}
                    <p class="mt-3">€{{ product.price }}</p>
                    
                {% endif %}
                <p class="mt-3">
                    {% if product.category %}
                        <a class="text-decoration-none " href="{% url 'products' %}?category={{ product.category.name }}">
                            <small class="text-muted"><i class="fas fa-tag"></i> {{ product.category }} </small>
                        </a>
                    {% endif %}
                </p>
                <p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                </p>
                <p class="mt-3">{{ product.description }}</p>
            </div>
            <form action="{% url 'add_to_bag' product.slug %}" method="POST">
                {%csrf_token%}
                <div class="container">
                    
                    <div class="col-12">
                        <p class="mt-3">
                            <strong>Quantity</strong>
                        </p>
                        <input class="form-control" type="number" name="quantity" value="1" min="1" max="100" data-item_id="{{ product.slug }}" id="id_qty_{{ product.slug}}">
                    </div>
                    <div class="col-12 text-center">
                        <input  type="submit" class="btn btn-outline-dark mt-3 " value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form> 
            
        </div>
    </div>
{% endblock%}