{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col text-center mt-3">
            {% for c in current_categories %}
                <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                    <span class="p-2 mt-2 ">{{ c.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12 col-md-6 d-flex justify-content-left">
            <p class="mt-3">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class=""><a class="text-decoration-none category-badge" href="{% url 'products' %}">Back to Products <i class="fas fa-arrow-alt-circle-left"></i></a> </span> |
                {% endif %}
                {{ products | length }} Products {% if search_term %} found {% endif %}

            </p>
        </div>
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-left justify-content-md-end">
            <select id="sort-selector" class="category-badge">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort</option>
                <option value="price_asc" {% if current_sorting == 'None_None' %}selected{% endif %}>Price (Low to High)</option>
                <option value="price_desc" {% if current_sorting == 'None_None' %}selected{% endif %}>Price (High to Low</option>
                <option value="rating_asc" {% if current_sorting == 'None_None' %}selected{% endif %}>Rating( Low to High)</option>
                <option value="rating_desc" {% if current_sorting == 'None_None' %}selected{% endif %}>Rating( High to Low)</option>
                <option value="name_asc" {% if current_sorting == 'None_None' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'None_None' %}selected{% endif %}>Name (Z-A)</option>
            </select>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
            {% for product in products%}
            <div class="col mb-5 p-2 ">
                <a class="text-decoration-none text-black" href="{% url 'product_detail' product.slug %}">
                    <div class="card h-100 product">
                        <!-- Product image-->
                        {% if product.image %}
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{product.name}}" />
                        {% else %}
                        <a href="">
                            <img class="card-img-top" src="{{ MEDIA_URL }}shahid.png" alt="..." />
                        </a>
                        {% endif %}

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product price-->
                                {% if product.discount_price %}
                                    <strike>
                                        <p class="mt-3">€{{ product.price }}</p>
                                    </strike>
                                <p class="mt-3">€{{ product.discount_price }}</p>

                                {% else %}
                                    <p class="mt-3">€{{ product.price }}</p>
                                    
                                {% endif %}
                                </p>
                                <p>
                                {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                                </p>
                                {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_product' product.slug %}">Edit</a> | 
                                    <a class="text-danger" href="{% url 'delete_product' product.slug %}">Delete</a>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];  // find out name of sorting
                var direction = selectedVal.split("_")[1];  // ascending or descending

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}
